body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  margin: auto;
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #333333;
  height: 80px;
}
